@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Roboto+Slab:wght@700&display=swap');

:root {
    --primary-color: #ff4742;
    --secondary-color: #2fee95;
}

* {
    font-family: roboto, proxima-nova, "proxima nova", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
  }
  body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

body > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 50px;
    margin: .7rem 0;
    padding-bottom:13px;
    border-bottom: #644 1px solid;
}

body > header:first-child{
    padding-left:1rem;
}
body > header > a{
    text-decoration: none;
    color: var(--primary-color);
    text-shadow: 2px 2px rgb(109, 4, 4);
}

body > article {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex:1;
}

section {
    padding: 10px;
}

h2{
    margin-bottom: 1rem;
    font-size:2rem;
    font-family: "Roboto Slab", serif;
}

h3 {
    margin-bottom: 1rem;
}

form > input[type=submit] {
    margin-top:1rem;
}

img {
    border-radius: 8px;
    max-width:90%;
    max-height:90%;
  }

.sub-heading{
    font-family: "Just Another Hand", cursive;
    font-size:1.75rem;
}

#loader-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:80vh
}

.responsive{
    width:95%;
}

.relative-container {
    position:relative;
}

/* ADD QUIZ FORM */

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top:1rem;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}

.form-field label {
    margin-bottom: 6px;
}

.form-field input {
    height: 2rem;
    margin-bottom: 10px;
    width:100%;
    padding:0 3px;
}

.instructions {
    padding: 0 1.25rem;
}

.instructions > p {
    font-size:14px;
}

/* MAIN QUIZ FORM */

.quiz-form{
    width:90%;
    align-self: center;
}

.quiz-form .question-option {
    margin-bottom: 2px;
    border-bottom: #c7c7c7 1px solid;
    padding: 15px 0;
}

.quiz-form input[type="radio"],
.quiz-form input[type="checkbox"] {
    margin-right: 7px;
}

/* QUIZ */

#quiz-wrapper {
    display:flex;
    flex-direction: column;
}

#quiz-section, #quiz-wrapper{
    width:100%
}

.question-option {
text-align: left ;
}

#quiz-info-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.red-text{
    font-weight: 1000;
    color:red;
}

/* BUTTONS */
.app-button {
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    outline: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;

    color: #ffffff;
    font-weight: 800;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;

    touch-action: manipulation;
    margin-bottom: 5px;
    padding: 0.4rem 1rem;
    min-height: 2rem;
    min-width: fit-content;

    width:100%;
}

.app-button:hover {
    background: initial;
    background-position: 0 0;
    color: #333;
    outline: 2.5px solid #333;
}

.button-group{
    display:flex;
    flex-direction: column;
    gap:.5rem;
    margin:1rem 0;
}

.primary-button {
    background: rgb(255, 71, 66);
    background: linear-gradient(
        0deg,
        rgba(255, 71, 66, 1) 22%,
        rgba(255, 123, 119, 1) 100%
    );
}

.primary-button:active {
    background-color: var(--primary-color);
}

.secondary-button {
    background: rgb(8, 170, 97);
    background: linear-gradient(
        0deg,
        rgba(8, 170, 97, 1) 0%,
        rgba(47, 238, 149, 1) 100%
    );
}

.secondary-button:active {
    background-color: var(--secondary-color);
}

/* Subtle on-click transition */
.app-button:not(:active) {
    transition: background-color 175ms ease-in-out;
}

footer {
    width:100%;
    padding-bottom: 5px;
}

/* TEXT STYLING */

footer {
    font-size:small;
    text-align: center;
    color: #333;
}

#attribution a {
    color: #333;
    text-decoration: none;
}

.rainbow {
    font-size: 28px;
    font-family: "Holtwood One SC", serif;
    animation: colorRotate 0.5s linear 0s infinite;
}

@keyframes colorRotate {
    from {color: #6666ff;}
    10% {color: #0099ff;}
    50% {color: #00ff00;}
    75% {color: #ff3399;}
    100% {color: #6666ff;}
}

/* UTILITY */

.centered {
    justify-content: center;
    align-items: center;
    text-align:center;
}

.middle-screen{
    justify-self: center;
    flex:1;
}

.hide{
    position: absolute; 
    top: -9999px;
    left: -9999px; 
}

/* Break Point - sm */
@media (min-width: 640px) {
}

/* Break Point - lg */
@media (min-width: 1024px) {
}
