@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Roboto+Slab:wght@700&display=swap");

:root {
    --primary-color: #ff4742;
    --secondary-color: #2fee95;
    --hard-green: #1dcc3a;
    --link-hover: #f88;
    --link-active: #faa;
    --salmon-patte: rgb(255, 204, 204);
}

* {
    font-family: roboto, proxima-nova, "proxima nova", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;

    /* Break Point - sm */
    @media (min-width: 640px) {
        background-color: rgb(248, 231, 239);
    }
}

/* Header Stuff */
body > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 50px;
    padding: 13px 0;
    margin-bottom: 1.5rem;
    outline: #644 2px solid;
}

body > header:first-child {
    padding-left: 1rem;
}

body > header > a {
    text-decoration: none;
    color: var(--primary-color);
    text-shadow: 2px 2px rgb(109, 4, 4);
}

body > header > nav {
    position: absolute;
    top: -9999px;
    left: -9999px;
    display: flex;
    gap: 0;

    /* Break Point - sm */
    @media (min-width: 640px) {
        position: relative;
        top: auto;
        left: auto;
        margin-right: 1rem;
    }
}

body > header > nav > .active {
    background-color: var(--link-active);
    color: white;
}

body > header > nav > a {
    height: 100%;
    padding: 1rem 0.5rem;
    background-color: white;
    text-decoration: none;
    color: #444;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 52px;
    display: none;
    flex-direction: column;
    text-decoration: none;
    background: white;
    border-right: black 2px solid;
    overflow-x: hidden;

    @media (min-width: 640px) {
        display: flex;
    }
}

.sidebar > a {
    font-weight: 600;
    text-decoration: none;
    color: black;
    height: 3rem;
    line-height: 3rem;
    padding-left: 1rem;
}
.sidebar > a:hover {
    background-color: var(--link-hover);
    color: white;
}

/* Article */
body > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    @media (min-width: 640px) {
        padding: 0 2rem;
        margin-left: 162px;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
    }
}

/* Section */
section {
    padding: 20px;
    background-color: white;
    border-radius: 15px;

    /* Break Point - sm */
    @media (min-width: 640px) {
        outline: 2px var(--salmon-patte) solid;
    }

    /* Break Point - lg */
    @media (min-width: 1024px) {
    }
}

h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: "Roboto Slab", serif;
}

h3 {
    margin-bottom: 1rem;
}

form > input[type="submit"] {
    margin-top: 1rem;
}

img {
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
}

.sub-heading {
    font-family: "Just Another Hand", cursive;
    font-size: 1.75rem;
}

#loader-section {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

#quiz-section {
    max-height: 85vh;
}

.responsive {
    width: 95%;

    /* Break Point - sm */
    @media (min-width: 640px) {
        max-width: 700px;
    }

    /* Break Point - lg */
    @media (min-width: 1024px) {
    }
}

.relative-container {
    position: relative;
}

/* ADD QUIZ FORM */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}

.form-field label {
    margin-bottom: 6px;
}

.form-field input {
    height: 2rem;
    margin-bottom: 10px;
    width: 100%;
    padding: 0 3px;
}
#instructions > p {
    font-size: 16px;
}

#instructions > * {
    transition: color 5s linear;
}

#instructions > p {
    margin-bottom: 0.5rem;
}

@keyframes fade-in-text {
    0% {
        color: white;
    }
    100% {
        color: black;
    }
}

/* MAIN QUIZ FORM */
.quiz-form {
    width: 90%;
    justify-self: center;
    align-self: center;
}

.quiz-form .question-option {
    margin-bottom: 2px;
    border-bottom: #c7c7c7 1px solid;
    padding: 15px 0;
}

.quiz-form input[type="radio"],
.quiz-form input[type="checkbox"] {
    margin-right: 7px;
}

.answer-row .question-option {
    margin-bottom: 2px;
    padding: 5px 0;
}

.answer-row .question-option input[type="checkbox"] {
    margin-right: 7px;
}
.answer-row .question-option input[type="radio"] {
    margin-right: 7px;
}

.answer-row > .question-option > label .correct-answer {
    color: var(--hard-green);
    font-weight: 550;
}

.correct-answer > label {
    color: var(--hard-green);
    font-weight: 550;
}

.correct-answer-selected > label::after {
    margin-left: 0.5rem;
    content: "✅";
}
.incorrect-answer-selected > label::after {
    margin-left: 0.5rem;
    content: "❌";
}

#quiz-body {
    display: flex;
    justify-content: center;
}

/* QUIZ */

#quiz-page-article {
    align-items: center;
    flex-direction: column;
}

#quiz-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
#quiz-section,
#quiz-info-section {
    width:100%;
    max-width: 1000px;
}

#quiz-wrapper {
    width: 100%;
}

.question-option {
    text-align: left;
}

#quiz-info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    min-height: 58px;
}

.red-text {
    font-weight: 550;
    color: red;
}
.red-text-bold {
    font-weight: 1000;
    color: red;
}
.green-text-bold {
    font-weight: 1000;
    color: var(--hard-green);
}

.green-text {
    font-weight: 550;
    color: var(--hard-green);
}

/* BUTTONS */
.app-button {
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    outline: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    white-space: nowrap;
    color: #ffffff;
    font-weight: 800;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;

    touch-action: manipulation;
    margin-bottom: 5px;
    padding: 0.4rem 1rem;
    min-height: 2rem;
    min-width: fit-content;

    width: 100%;
}

.app-button:hover {
    background: initial;
    background-position: 0 0;
    color: #333;
    outline: 2.5px solid #333;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0;
    width: 100%;

    /* Break Point - sm */
    @media (min-width: 640px) {
        width: auto;
    }
}

.button-group > a {
    @media (min-width: 640px) {
        min-width: 260px;
    }
}

#landing-button-group {
    @media (min-width: 640px) {
        flex-direction: row;
    }
}

#landing-button-group > a {
    @media (min-width: 640px) {
        min-width: 180px;
    }
}

.primary-button {
    background: rgb(255, 71, 66);
    background: linear-gradient(
        0deg,
        rgba(255, 71, 66, 1) 22%,
        rgba(255, 123, 119, 1) 100%
    );
}

.primary-button:active {
    background-color: var(--primary-color);
}

.secondary-button {
    background: rgb(8, 170, 97);
    background: linear-gradient(
        0deg,
        rgba(8, 170, 97, 1) 0%,
        rgba(47, 238, 149, 1) 100%
    );
}

.secondary-button:active {
    background-color: var(--secondary-color);
}

/* Subtle on-click transition */
.app-button:not(:active) {
    transition: background-color 175ms ease-in-out;
}

footer {
    padding-bottom: 5px;
    @media (min-width:640px){
        margin-left:162px;
    }
}

/* TEXT STYLING */

.bold-text {
    font-weight: 1000;
}

footer {
    font-size: small;
    text-align: center;
    color: #333;
}

#attribution a {
    color: #333;
    text-decoration: none;
}

.rainbow {
    font-size: 28px;
    font-family: "Holtwood One SC", serif;
    animation: colorRotate 0.5s linear 0s infinite;
}

@keyframes colorRotate {
    from {
        color: #6666ff;
    }
    10% {
        color: #0099ff;
    }
    50% {
        color: #00ff00;
    }
    75% {
        color: #ff3399;
    }
    100% {
        color: #6666ff;
    }
}

/* UTILITY */

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.middle-screen {
    justify-self: center;
    flex: 1;
}

.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.answers-container {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    outline: 1px solid #bbb;
    border-radius: 10px;
    overflow: hidden;
    /* TRANSITION ANIMATION */
    transition: height 0.69s ease-out;
}

.answer-header {
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 1fr;
    gap: 10px 0px;
    grid-template-areas: "answers-title arrow";
    text-align: center;
    margin: 0;
    padding: 0;
}

.answer-title {
    grid-area: answers-title;
    font-size: 1.5rem;
    font-family: "roboto slab", "sans-serif";
    margin-right: -40px;
}

.answers-container > .answer-row:nth-child(2) {
    margin-top: 1rem;
}

.answer-row {
    margin-bottom: 2rem;
}

.arrow {
    grid-area: arrow;
    z-index: 2;
    margin-top: 5px;
    margin-left: 7px;
    width: 0;
    height: 0;
}

.arrow:hover {
    cursor: pointer;
}

.down-arrow {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #bbb;
}

.up-arrow {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #bbb;
}

/* Break Point - sm */
@media (min-width: 640px) {
}

/* Break Point - lg */
@media (min-width: 1024px) {
}

li {
    margin-left: 15px;
}

#about-section {
    padding: 1.5rem 2.5rem;
    max-width: 414px;

    @media (min-width: 640px) {
        max-width: 700px;
    }
}

#quiz-list-button-group > a {
    @media (min-width: 640px) {
        min-width: 400px;
    }
}

.banner-wrapper {
    min-height: 178px;
}

#submit-new-quiz-article > section {
    max-width: 500px;
}

#correct-answers-container{
    height:4rem;
    overflow:hidden;
}

#incorrect-answers-container{
    height:4rem;
    overflow:hidden;
}
