* {
    font-family: roboto, proxima-nova, "proxima nova", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

/* -------------- Header ------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 50px;
}

header nav {
    height: 100%;
    display: flex;
}

header a {
    text-decoration: none;
    color: red;
    padding-left: 1rem;
}

header nav a {
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

header nav a:hover {
    background-color: #ddd;
    color: black;
}

header nav a.active {
    background-color: #ff4742;
    color: white;
}

/* ----------- Main Body ----------- */

article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}

section {
    margin: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
}

.centered {
    align-items: center;
}

h2 {
    margin-bottom: 1rem;
}

.question {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.main {
    border: 5px solid #ff4742;
    border-radius: 23px;
    padding: 20px;
    width: auto;
    margin: auto;
}

/* ------------- Unique Sections ----------- */

#add-quiz-form form label {
    width: 150px;
    text-align: right;
}

#add-quiz-form form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

#add-quiz-form input[type="submit"] {
    margin-top: 1rem;
    width: 100%;
}

#quiz-list-container {
  align-items: center;
}

#quiz-list {
  width: 100%
}
#quiz-list button {
    width: 100%;
}

#quiz-list-section {
    flex:2;
}

#instructions {
  flex:1;
}

#instructions p {
    margin-bottom: 1rem;
}

/* --------------- Buttons & Inputs ---------------- */

.button-group {
    display: flex;
    margin-top: 2rem;
}

.app-button {
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    outline: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;

    color: #ffffff;
    font-weight: 800;
    text-decoration: none;
    text-align: center;

    touch-action: manipulation;
    margin: 0.5rem;
    margin-bottom: 5px;
    padding: 0.4rem 1rem;
}

.app-button:hover {
    background: initial;
    background-position: 0 0;
    color: #333;
    outline: 2.5px solid #333;
}

.app-button:active {
    background-color: #2fee95;
}

.primary-button {
    background: rgb(255, 71, 66);
    background: linear-gradient(
        0deg,
        rgba(255, 71, 66, 1) 22%,
        rgba(255, 123, 119, 1) 100%
    );
}
.secondary-button {
    background: rgb(8, 170, 97);
    background: linear-gradient(
        0deg,
        rgba(8, 170, 97, 1) 0%,
        rgba(47, 238, 149, 1) 100%
    );
}

input {
    border: 1px black solid;
    border-radius: 3px;
}

.form-field {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    position: relative;
    margin-bottom: 0.5rem;
}

.percent-sign {
    position: absolute;
    right: -1.2rem;
    pointer-events: none;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: block;
}
input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}
